body {
  background: #fff url(../_static/header_bg.jpg) top left no-repeat;
}

#header {
  width: 950px;
  margin: 0 auto;
  height: 102px;
}

#header h1#logo {
  background: url(../_static/openstack_logo.png) top left no-repeat;
  display: block;
  float: left;
  text-indent: -9999px;
  width: 175px;
  height: 55px;
}

#navigation {
  background: url(../_static/header-line.gif) repeat-x 0 bottom;
  display: block;
  float: left;
  margin: 27px 0 0 25px;
  padding: 0;
}

#navigation li{
  float: left;
  display: block;
  margin-right: 25px;
}

#navigation li a {
  display: block;
  font-weight: normal;
  text-decoration: none;
  background-position: 50% 0;
  padding: 20px 0 5px;
  color: #353535;
  font-size: 14px;
}

#navigation li a.current, #navigation li a.section {
  border-bottom: 3px solid #cf2f19;
  color: #cf2f19;
}

div.related {
  background-color: #cde2f8;
  border: 1px solid #b0d3f8;
}

div.related a {
  color: #4078ba;
  text-shadow: none;
}

div.sphinxsidebarwrapper {
  padding-top: 0;
}

pre {
  color: #555;
}

div.documentwrapper h1, div.documentwrapper h2, div.documentwrapper h3, div.documentwrapper h4, div.documentwrapper h5, div.documentwrapper h6 {
  font-family: 'PT Sans', sans-serif !important;
  color: #264D69;
  border-bottom: 1px dotted #C5E2EA;
  padding: 0;
  background: none;
  padding-bottom: 5px;
}

div.documentwrapper h3 {
  color: #CF2F19;
}

a.headerlink {
  color: #fff !important;
  margin-left: 5px;
  background: #CF2F19 !important;
}

div.body {
  margin-top: -25px;
  margin-left: 260px;
}

div.document {
  width: 960px;
  margin: 0 auto;
}

div.sphinxsidebar h3.highlighted {
  background-color: #cf2f19;
  color: #EEE;
  text-shadow: 1px 1px 0 #740101;
}

div.sphinxsidebar h3.highlighted a {
  color: #EEE;
}

/** provide visual separation for sidebar for increased readability. */
div.sphinxsidebar ul li {
  margin-top: 1em;
  font-weight: bold;
}

div.sphinxsidebar ul li ul li {
  margin-top: 0;
  font-weight: normal;
}

/** Provide the sidebar to allow long words to go to the next line
    making them easier to read.*/
div.sphinxsidebar a {
    display: block;
    text-indent: -1em;
    margin-left: 1em;
    word-wrap: break-word;
}

div.sphinxsidebar ul {
  margin: 10px 10px;
}