{% set page_title = "Review All STIG Controls" %}
{{ "=" * page_title | length }}
{{ page_title }}
{{ "=" * page_title | length }}

Navigating the list
===================

Use your browser's search function (usually CTRL-f or ⌘-f) to find the
security configuration in the full list shown here.  You can search for STIG
ID numbers, such as ``V-38463``, or for particular topics, like ``audit``.

----

{% for stig_id in stig_ids | sort %}
.. _stig-{{ stig_id }}:

{% include "template_doc.j2" %}

{% if not loop.last %}
----
{% endif %}

{% endfor %}
