{% if security_lock_session | bool %}
[org/gnome/desktop/session]
# V-71893 - The operating system must initiate a screensaver after a
#                  15-minute period of inactivity for graphical user
#                  interfaces.
idle-delay={{ security_lock_session_inactive_delay }}

[org/gnome/desktop/screensaver]
# V-71891 - The operating system must enable a user session lock until
#                  that user re-establishes access using established
#                  identification and authentication procedures.
lock-enabled=true

# V-71901 - The operating system must initiate a session lock for
#                  graphical user interfaces when the screensaver is activated.
lock-delay={{ security_lock_session_screensaver_lock_delay }}

{% if security_lock_session_when_inactive | bool %}
# V-71893 - The operating system must initiate a session lock for the
#                  screensaver after a period of inactivity for graphical user
#                  interfaces.
idle-activation-enabled=true
{% endif %}
{% endif %}
