{% if security_pwquality_apply_rules | bool %}
{% for rule in password_quality_rhel7 %}
{% if rule.value is defined and rule.enabled | bool %}
# {{ rule.stig_id }} - {{ rule.description }}
{{ rule.parameter}} = {{ rule.value }}
{% endif %}
{% endfor %}
{% endif %}
